.userChat{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    color: white;
    cursor: pointer;
    height: 52px;
}
.userChat:hover{
    background-color: #2f2d52;
}
.userChatInfo span{
    font-size: 18px;
    font-weight: bold;
}
.userChatInfo p{
    font-size: 14px;
    color: lightgray;
}
.chats .userChat img{
    /* padding: 10px; */
    display: flex;
    align-items: center;
    /* gap: 10px; */
    flex-direction: row;
    color: white;
    cursor: pointer;
    height: 52px;
    width: 50px;
}
.chats .userChat .userChatInfo p{
    padding-top: 0px;
    margin-top: 16px;
}